%table
  %tr
    %td.main
      %h1
        = gravatar_for @user
        = @user.name
      - unless @user.microposts.empty?
        %table.microposts{ summary: "User microposts"}
          = render @microposts
        = will_paginate @microposts
    %td.sidebar.round
      %strong Name
      = @user.name
      %br/
      %strong URL
      = link_to user_path(@user), @user
      %br/
      %strong Microposts
      = @user.microposts.count
